.user-settings-view {
    margin: 1rem;
    padding: 1rem;
    max-width: calc(min(80%, 100rem));
}

.user-settings-form {
    border-radius: 1rem;
    padding: 1rem;
    padding-right: 0rem;
    background-color: var(--background-color-shaded);
}

.user-settings-form > * {
    margin: 1rem;
}

.user-settings-form .property-value {
    width: 50vw;
}

.profile-picture-container > label {
    text-align: right;
}

.profile-picture-container > input {
    text-align: left;
    border: none;
    border-radius: 0.3rem;
    margin-right: 1rem;
}