.user-settings-view {
    margin: 1rem;
    padding: 1rem;
}

.user-settings-form {
    border-radius: 1rem;
    padding: 1rem;
    padding-right: 10rem;
    background-color: var(--background-color-shaded);
}

.user-settings-form > * {
    margin: 1rem;
}

.spacer {
    content: "";
    height: 2rem;
}