.bulletpoint-h1 {
    color: rgb(85, 85, 85);
}

.bulletpoint-service-history-entry,
.bulletpoint-service-history-total {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: var(--gradient-light);
}