.detail-frame {
    display: flex;
    text-align: left;
    padding: 1rem;
    font-size: 1.3rem;
}

.bulletpoint-detail-frame {
   overflow: hidden;
   
}

.detail-frame-properties {
    margin:  0 1rem 0 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--gradient-light);
}

.detail-frame-edit button {
    width: 10vw;
    margin: 0 0.5rem 0.5rem 0.5rem;
    padding-right: 1rem;
    transform: translateX(1rem);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.detail-frame-edit button:hover {
    transform: translateX(0);
    transition: 0.25s;
    transition-timing-function: ease-out;
    
}

.detail-frame-edit-button .bi {
    margin-right: 1ch;
}

.detail-frame-edit {
    transform: translateX(-1ch);
}

.thumbs-wrapper,
.thumbs-wrapper ul {
    padding: 0 !important;
    margin: 0 !important;
}

.vehicle-big-picture {
    border-radius: 0.7rem;
    overflow: hidden;
}