.selection-frame{
    border-color: black;
    border-style: solid;
    display: inline-block;
    height: 93vh;
    overflow-y: scroll;
}

.card-img-top{
    float: left;
}

.card{
    display: flex;
}